@import "../../../styles/variables";
@import "../../../styles/mixines";

.category {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    height: 800px;

    &__block {
        position: absolute;
        width: 50%;
        height: 50%;
        z-index: -50;

        &_one {
            background: #FBFBFB;
            left: 0;
            top: 0;
        }

        &_two {
            background: $rose;
            left: 50%;
            top: 0;
        }

        &_three {
            background: $beige;
            left: 0;
            top: 50%;
        }

        &_four {
            background: $grey;
            left: 50%;
            top: 50%;
        }
    }

    &__container {
        width: 1440px;
        margin: 0 auto;
    }

    &__wrap {
        display: flex;
        height: 400px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding: 48px;

        &_one {
            background: url(../../../assets/images/categories/cat-one.jpg) no-repeat;
            background-size: cover;
        }
        &_two {
            background: url(../../../assets/images/categories/cat-two.jpg) no-repeat;
            background-size: cover;
        }
        &_three {
            background: url(../../../assets/images/categories/cat-three.jpg) no-repeat;
            background-size: cover;
        }
        &_four {
            background: url(../../../assets/images/categories/cat-four.jpg) no-repeat;
            background-size: cover;
        }
    }

    &__inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
    }

    &__title,
    &__text {
        margin-bottom: 16px;
    }

    &__button {
        @include button;
    }
}
