<div class="card">
    <div
        class="card__discount-wrap"
        *ngIf="card.discount && card.discount.length > 0; else emptyDisc"
    >
        <span class="card__discount">{{ card.discount }}</span>
        &#8381;
    </div>
    <ng-template #emptyDisc>
        <div class="card__discount-empty"></div>
    </ng-template>
    <a class="card__product-link" href="#">
        <img src="{{ card.model.photo.img }}"
             alt="photo" class="card__photo">
        <div class="card__caption">
            {{ [card.model.category.name, card.name, card.memory.name, 'Гб', card.color.name].join(' ') | truncate:['50', '...']}}
        </div>
    </a>
    <div class="card__old-price-wrap"
         *ngIf="card.oldPrice && card.oldPrice.length > 0; else emptyOldPrice"
    >
        <span class="card__old-price">{{ card.oldPrice }}</span>&#8381;
    </div>
    <ng-template #emptyOldPrice>
        <div class="card__old-price-empty"></div>
    </ng-template>
    <div class="card__bottom">
        <div class="card__price-wrap">
            <span
                class="card__price"
                *ngIf="card.price"
            >
                {{ card.price }} &#8381;
            </span>
        </div>
        <button class="card__button">В корзину</button>
    </div>
</div>
