@import "../../../../styles/variables";
@import "../../../../styles/mixines";

.card {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 360px;

    @include desktop {
        margin-bottom: 50px;
    }

    @include tablet {
        margin-bottom: 50px;
    }

    @include phone {
        margin-bottom: 36px;
    }

    &__discount-wrap {
        align-self: flex-start;
        padding: 6px 8px;
        color: $white;
        font-size: 12px;
        line-height: 12px;
        background: $orange;
        margin-bottom: 9px;
    }

    &__photo {
        width: 100%;
        height: 222px;
        margin-bottom: 12px;
    }

    &__caption {
        width: 100%;
        height: 42px;
        color: $text-light;
        margin-bottom: 11px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__old-price-wrap {
        font-size: 14px;
        line-height: 14px;
        color: $text-light;
        opacity: 0.5;
        text-decoration-line: line-through;
        text-decoration-color: $text-light;
        margin-bottom: -2%;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price-wrap {
        font-size: 24px;
        line-height: 24px;
        color: $text-light;
    }

    &__button {
        @include button;
        margin-right: 23px;
    }
}
