@import "../../../../styles/variables";
@import "../../../../styles/mixines";

.card {
    display: flex;
    flex-direction: column;
    width: 260px;

    @include desktop {
        margin-bottom: 50px;
    }

    @include tablet {
        margin-bottom: 40px;
    }

    @include phone {
        width: 222px;
        margin-bottom: 36px;
    }

    &__discount-wrap {
        align-self: flex-start;
        padding: 6px 8px;
        color: $white;
        font-size: 12px;
        line-height: 12px;
        background: $orange;
        margin-bottom: 9px;

        @include phone {
            padding: 4px 5px;
            margin-bottom: 0;
        }
    }

    &__discount-empty {
        align-self: flex-start;
        width: 100%;
        height: 24px;
        margin-bottom: 9px;

        @include phone {
            width: 100%;
            height: 20px;
            margin-bottom: 0;
        }
    }

    &__photo {
        width: 100%;
        margin-bottom: 12px;

        @include desktop {
            &_phone {
                display: none;
            }
        }

        @include tablet {
            &_phone {
                display: none;
            }
        }

        @include phone {
            &_desktop {
                display: none;
            }
        }
    }

    &__caption {
        position: relative;
        width: 100%;
        height: 42px;
        color: $text-light;
        margin-bottom: 11px;
        overflow: hidden;

        @include phone {
            font-size: 14px;
            line-height: 20px;
        }

        &:after {
            content: "\02026";
            box-sizing: content-box;
            position: absolute;
            top: 20px;
            right: 0;
            width: 3em;
            padding-right: 5px;
            text-align: right;
            background-size: 100% 100%;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        }
    }


    &__old-price-wrap {
        font-size: 14px;
        line-height: 14px;
        opacity: 0.5;
        text-decoration-line: line-through;
        text-decoration-color: $text-light;
        margin-bottom: -2%;
    }

    &__old-price-empty {
        width: 100%;
        height: 14px;
        margin-bottom: -2%;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price-wrap {
        font-size: 24px;
        line-height: 24px;
    }

    &__button {
        @include button(10px);
        margin-right: 23px;

        @include phone {
            @include button(9px);
            margin-right: 0;
        }
    }

}
