<div class="card">
    <div class="card__discount-wrap">
        <span class="card__discount">-2000</span>
        &#8381;
    </div>
    <a href="#">
        <img src="https://via.placeholder.com/260x222.png"
             alt="photo" class="card__photo card__photo_desktop">
        <img src="https://via.placeholder.com/222x160.png"
             alt="photo" class="card__photo card__photo_phone">
        <div class="card__caption">
            Apple iPhone 11 128 ГБ белый Apple iPhone 11 12ый 11 128 ГБ Apple ff iPhone 11 12ый 11 128 ГБ
        </div>
    </a>
    <div class="card__old-price-wrap">
        <span class="card__old-price">113999</span>
        &#8381;
    </div>
    <div class="card__bottom">
        <div class="card__price-wrap">
            <span class="card__price">64990</span>
            &#8381;
        </div>
        <button class="card__button">В корзину</button>
    </div>
</div>
