@import "../../../../styles/_variables.scss";
@import "../../../../styles/_mixines.scss";

.cart {
  position: absolute;
  z-index: 100;
  background: $white;
  right: 0;
  width: 467px;
  padding: 24px 10px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  top: calc(#{$top-header-height} + 8px);

  @include phone {
    display: none
  }

  &__without-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    //display: none;
  }

  &__without-text {
    margin-bottom: 24px;
  }

  &__with-products {
    display: flex;
    flex-direction: column;
    //display: none;
  }

  &__triangle {
    width: 12px;
    height: 12px;
    background: $white;
    transform: rotate(45deg) skew(-6deg, -6deg);
    position: absolute;
    top: -7px;
    right: 3px;
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;

    @include phone {
      display: none;
    }
  }

  &__block-items {
    max-height: 285px;
    overflow-y: auto;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 26px;
  }

  &__item {
    display: flex;
    user-select: none;

    margin-bottom: 10px;
    margin-right: 18px;
  }

  &__image {
    width: 70px;
    margin-right: 17px;
  }

  &__info-wrap {
    display: flex;
    flex-direction: column;
  }

  &__caption {
    margin-bottom: 10px;
    max-width: 205px;
  }

  &__mini-wrap {
    display: flex;
  }

  &__color {
    border-radius: 50%;
    background: #F9E3CC;
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }

  &__memory {
    background: #F6F6F6;
    border-radius: 10px;
    padding: 4px 14px;
  }

  &__counter-wrap {
    display: flex;
    align-items: center;
    margin-right: 26px;
  }

  &__symbol,
  &__counter {
    margin-right: 10px;
  }

  &__symbol {
    width: 24px;
    height: 24px;
    background: $violet;
    border-radius: 4px;
    color: $white;
    text-align: center;
    font-size: 24px;
  }

  &__basket-wrap {
    display: flex;
  }

  &__total-wrap,
  &__button-wrap {
    padding-right: 13px;
  }

  &__total-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 36px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__button-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  &__checkout {
    @include button(12px, $violet, 18px);
    width: 205px;
  }

  &__to-cart {
    @include button(12px, $rose, 18px);
    width: 205px;
  }
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(196, 196, 196, 0.41);;
}

::-webkit-scrollbar {
  width: 5px;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}
