@import "../../../styles/variables";
@import "../../../styles/mixines";

.wrap {
    background: $black;
}

.slider {
    position: relative;
    color: $white;

    &__title {
        position: absolute;
        width: 100%;
        text-align: center;
        @include h1-desktop;

        @include desktop {
            top: 95px;
            left: 0;
        }
    }

    &__subtitle {
        position: absolute;
        width: 100%;
        text-align: center;

        @include desktop {
            font-size: 24px;
            line-height: 32px;
            top: 175px;
        }
    }
}
