@import "../../../../../styles/variables";
@import "../../../../../styles/mixines";

.footer-top {
    background: rgba(31, 31, 31, 0.85);

    &__content {
        padding: 46px 0 36px;
        display: flex;
        justify-content: space-between;
    }

    &__block {
        max-width: 240px;
    }

    &__category,
    &__item {
        color: $white;
        font-size: 13px;
    }

    &__category {
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__item {
        line-height: 16px;
    }
}
