<div class="footer-top footer-top_desktop">
    <nav class="footer-top__content container">
        <div class="footer-top__block">
            <a href="#" class="footer-top__category">Аксессуары</a>
            <a href="#" class="footer-top__item">Наушники Beats</a>
            <a href="#" class="footer-top__item">Камеры GoPro</a>
            <a href="#" class="footer-top__item">Акустические системы</a>
            <a href="#" class="footer-top__item">Модемы и сеть</a>
            <a href="#" class="footer-top__item">Аксессуары для дронов DJI</a>
            <a href="#" class="footer-top__item">Аксессуары для iPhone</a>
            <a href="#" class="footer-top__item">Наушники и гарнитуры</a>
            <a href="#" class="footer-top__item">Устройства ввода</a>
            <a href="#" class="footer-top__item">Источники доп. питания</a>
            <a href="#" class="footer-top__item">Аксессуары для GoPro</a>
            <a href="#" class="footer-top__item">Внешние накопители</a>
            <a href="#" class="footer-top__item">Сумки для ноутбуков</a>
        </div>
        <div class="footer-top__block">
            <a href="#" class="footer-top__category">Услуги</a>
            <a href="#" class="footer-top__item">Апгрейд компьютеров Apple</a>
            <a href="#" class="footer-top__item">Загрузка мультимедиа файлов</a>
            <a href="#" class="footer-top__item">Создание почтовых ящиков</a>
            <a href="#" class="footer-top__item">Создание учётной записи Apple ID</a>
            <a href="#" class="footer-top__item">Ремонт и техническое обслуживание техники Apple</a>
            <a href="#" class="footer-top__item">Консультации по работе с техникой Apple</a>
        </div>
        <div class="footer-top__block">
            <a href="#" class="footer-top__category">iPhone</a>
            <a href="#" class="footer-top__item">iPhone 6</a>
            <a href="#" class="footer-top__item">iPhone Xs</a>
            <a href="#" class="footer-top__item">iPhone Xs Max</a>
            <a href="#" class="footer-top__item">iPhone Xr</a>
            <a href="#" class="footer-top__item">iPhone X</a>
            <a href="#" class="footer-top__item">iPhone 8</a>
            <a href="#" class="footer-top__item">iPhone 7</a>
            <a href="#" class="footer-top__item">iPhone 7 Plus</a>
            <a href="#" class="footer-top__item">iPhone 6s</a>
            <a href="#" class="footer-top__item">iPhone SE</a>
        </div>
        <div class="footer-top__block">
            <a href="#" class="footer-top__category">Mac</a>
            <a href="#" class="footer-top__item">Mac Mini</a>
            <a href="#" class="footer-top__item">iMac</a>
            <a href="#" class="footer-top__item">MacBook Air</a>
            <a href="#" class="footer-top__item">MacBook Pro</a>
        </div>
        <div class="footer-top__block">
            <a href="#" class="footer-top__category">iPad</a>
            <a href="#" class="footer-top__item">iPad Pro</a>
            <a href="#" class="footer-top__item">iPad Air</a>
            <a href="#" class="footer-top__item">iPad</a>
            <a href="#" class="footer-top__item">iPad Mini</a>
        </div>
        <div class="footer-top__block">
            <a href="#" class="footer-top__category">Общее</a>
            <a href="#" class="footer-top__item">Акции</a>
            <a href="#" class="footer-top__item">Магазин</a>
            <a href="#" class="footer-top__item">Контакты</a>
            <a href="#" class="footer-top__item">Личный кабинет</a>
        </div>
    </nav>
</div>
<div class="footer-top footer-top footer-top_phone">
    <nav class="footer-top__content">
        <div class="footer-top__category-wrap">
            <div class="footer-top__category container">Аксессуары</div>
            <input type="checkbox" class="footer-top__input" id="accessories">
            <label for="accessories" class="footer-top__label"></label>
            <div class="footer-top__container">
                <a href="#" class="footer-top__item container">Все</a>
                <a href="#" class="footer-top__item container">Наушники Beats</a>
                <a href="#" class="footer-top__item container">Камеры GoPro</a>
                <a href="#" class="footer-top__item container">Акустические системы</a>
                <a href="#" class="footer-top__item container">Модемы и сеть</a>
                <a href="#" class="footer-top__item container">Аксессуары для дронов DJI</a>
                <a href="#" class="footer-top__item container">Аксессуары для iPhone</a>
                <a href="#" class="footer-top__item container">Наушники и гарнитуры</a>
                <a href="#" class="footer-top__item container">Устройства ввода</a>
                <a href="#" class="footer-top__item container">Источники доп. питания</a>
                <a href="#" class="footer-top__item container">Аксессуары для GoPro</a>
                <a href="#" class="footer-top__item container">Внешние накопители</a>
                <a href="#" class="footer-top__item container">Сумки для ноутбуков</a>
            </div>
        </div>
        <div class="footer-top__category-wrap">
            <div class="footer-top__category container">Услуги</div>
            <input type="checkbox" class="footer-top__input" id="services">
            <label for="services" class="footer-top__label"></label>
            <div class="footer-top__container">
                <a href="#" class="footer-top__item container">Все</a>
                <a href="#" class="footer-top__item container">Апгрейд компьютеров Apple</a>
                <a href="#" class="footer-top__item container">Загрузка мультимедиа файлов</a>
                <a href="#" class="footer-top__item container">Создание почтовых ящиков</a>
                <a href="#" class="footer-top__item container">Создание учётной записи Apple ID</a>
                <a href="#" class="footer-top__item container">Ремонт и техническое обслуживание техники Apple</a>
                <a href="#" class="footer-top__item container">Консультации по работе с техникой Apple</a>
            </div>
        </div>
        <div class="footer-top__category-wrap">
            <div class="footer-top__category container">iPhone</div>
            <input type="checkbox" class="footer-top__input" id="iphone">
            <label for="iphone" class="footer-top__label"></label>
            <div class="footer-top__container">
                <a href="#" class="footer-top__item container">Все</a>
                <a href="#" class="footer-top__item container">iPhone 6</a>
                <a href="#" class="footer-top__item container">iPhone Xs</a>
                <a href="#" class="footer-top__item container">iPhone Xs Max</a>
                <a href="#" class="footer-top__item container">iPhone Xr</a>
                <a href="#" class="footer-top__item container">iPhone X</a>
                <a href="#" class="footer-top__item container">iPhone 8</a>
                <a href="#" class="footer-top__item container">iPhone 7</a>
                <a href="#" class="footer-top__item container">iPhone 7 Plus</a>
                <a href="#" class="footer-top__item container">iPhone 6s</a>
                <a href="#" class="footer-top__item container">iPhone SE</a>
            </div>
        </div>
        <div class="footer-top__category-wrap">
            <div class="footer-top__category container">Mac</div>
            <input type="checkbox" class="footer-top__input" id="mac">
            <label for="mac" class="footer-top__label"></label>
            <div class="footer-top__container">
                <a href="#" class="footer-top__item container">Все</a>
                <a href="#" class="footer-top__item container">Mac Mini</a>
                <a href="#" class="footer-top__item container">iMac</a>
                <a href="#" class="footer-top__item container">MacBook Air</a>
                <a href="#" class="footer-top__item container">MacBook Pro</a>
            </div>
        </div>
        <div class="footer-top__category-wrap">
            <div class="footer-top__category container">iPad</div>
            <input type="checkbox" class="footer-top__input" id="ipad">
            <label for="ipad" class="footer-top__label"></label>
            <div class="footer-top__container">
                <a href="#" class="footer-top__item container">Все</a>
                <a href="#" class="footer-top__item container">iPad Pro</a>
                <a href="#" class="footer-top__item container">iPad Air</a>
                <a href="#" class="footer-top__item container">iPad</a>
                <a href="#" class="footer-top__item container">iPad Mini</a>
            </div>
        </div>
        <div class="footer-top__category-wrap">
            <div class="footer-top__category container">Общее</div>
            <input type="checkbox" class="footer-top__input" id="common">
            <label for="common" class="footer-top__label"></label>
            <div class="footer-top__container">
                <a href="#" class="footer-top__item container">Все</a>
                <a href="#" class="footer-top__item container">Акции</a>
                <a href="#" class="footer-top__item container">Магазин</a>
                <a href="#" class="footer-top__item container">Контакты</a>
                <a href="#" class="footer-top__item container">Личный кабинет</a>
            </div>
        </div>
    </nav>
</div>
