@import "../../../../styles/variables";
@import "../../../../styles/mixines";

.new-goods {
    margin-bottom: 66px;

    &__title {
        @include block-title;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
