@import 'variables';

@font-face {
    font-family: 'SF UI Display';
    src: url(assets/fonts/SFUIDisplay-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'SF UI Display';
    src: url(assets/fonts/SFUIDisplay-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'SF UI Display';
    src: url(assets/fonts/SFUIDisplay-Semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'SF UI Display';
    src: url(assets/fonts/SFUIDisplay-Bold.ttf);
    font-weight: 700;
}

body {
    font-family: 'SF UI Display', sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
}

.container {
    max-width: $container-desktop-width;
    margin: 0 auto;
}
