$base-font-size: 16px;
$base-line-height: 20px;

$desktop-width: 1440px;
$tablet-width: 768px;

$container-desktop-width: 1170px;
$container-tablet-width: 700px;
$container-phone-width: 260px;

$violet: #5A00A5;
$white: #ffffff;
$black: #000000;

$grey: #EBECEF;
$beige: #F0EBDB;
$rose: #F3EAE8;

$orange: #F59855;
$red: #EE290E;
$blue: #348FE2;

$text-light: #1F1F1F;
$gadget-bcg: #F8F8F8;
$menu: #414141;
$menu-hover: #B3D2EE;
