@import "../../../styles/variables";
@import "../../../styles/mixines";

.wrap {
    background: $black;

    @include phone {
        position: relative;
        z-index: 1;
    }
}

.slider {
    position: relative;
    color: $white;
    margin-bottom: 64px;

    @include desktop {
        height: 520px;
    }

    @include tablet {
        height: 412px;
    }

    @include phone {
        height: 194px;
    }


    &__title {
        position: absolute;
        width: 100%;
        text-align: center;
        @include h1-desktop;

        @include desktop {
            top: 95px;
        }

        @include tablet {
            top: 42px;
        }

        @include phone {
            top: 26px;
            font-size: 30px;
        }
    }

    &__subtitle {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 32px;

        @include desktop {
            top: 175px;
        }

        @include tablet {
            top: 142px;
            left: 20%;
            width: 60%;
            text-align: left;
        }

        @include phone {
            top: 87px;
            font-size: 16px;
            line-height: 22px;
            text-align: left;
        }
    }

    &__img {

        @include desktop {
            &_phone {
                display: none;
            }
        }

        @include tablet {
            &_phone {
                display: none;
            }
        }

        @include phone {
            &_desktop {
                display: none;
            }
        }
    }
}

.goods {
    margin-bottom: 64px;

    &__title {
        @include block-title;

        @include phone {
            font-size: 24px;
            line-height: 29px;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet {
            padding: 0 60px;
        }

        @include phone {
            justify-content: center;
        }
    }
}

.category {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;

    @include desktop {
        //height: 800px;
    }

    &__block {

        &_one {
            background: #FBFBFB;
        }

        &_two {
            background: $rose;
        }

        &_three {
            background: $beige;
        }

        &_four {
            background: $grey;
        }


        @include desktop {
            width: 50%;
            height: 400px;

            &_one {
                left: 0;
                top: 0;
            }

            &_two {
                left: 50%;
                top: 0;
            }

            &_three {
                left: 0;
                top: 50%;
            }

            &_four {
                left: 50%;
                top: 50%;
            }
        }

        @include tablet {
            width: 100%;
        }

        @include phone {
            width: 100%;
        }
    }

    &__wrap {
        display: flex;

        @include tablet {
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 48px;

        @include desktop {
            height: 400px;
        }

        @include tablet {
            width: 80%;
            height: 389px;
            margin: 0 auto;
        }

        @include phone {
            width: 90%;
            height: 221px;
            margin: 0 auto;
            padding: 16px 0;
        }

        &_one {
            background: url(../../../assets/images/categories/cat-one.jpg) bottom no-repeat;

            @include desktop {
                background-size: auto 400px;
            }

            @include tablet {
                background-size: auto 389px;
            }

            @include phone {
                background: url(../../../assets/images/categories/cat-one-mb.jpg) bottom right no-repeat;
                background-size: auto 221px;
            }
        }

        &_two {
            background: url(../../../assets/images/categories/cat-two.jpg) bottom no-repeat;

            @include desktop {
                background-size: auto 400px;
            }

            @include tablet {
                background-size: auto 389px;
            }

            @include phone {
                background: url(../../../assets/images/categories/cat-two-mb.jpg) bottom right no-repeat;
                background-size: auto 221px;
            }
        }

        &_three {
            background: url(../../../assets/images/categories/cat-three.jpg) bottom no-repeat;

            @include desktop {
                background-size: auto 400px;
            }

            @include tablet {
                background-size: auto 389px;
            }

            @include phone {
                background: url(../../../assets/images/categories/cat-three-mb.jpg) bottom right no-repeat;
                background-size: auto 221px;
            }
        }

        &_four {
            background: url(../../../assets/images/categories/cat-four.jpg) bottom no-repeat;

            @include desktop {
                background-size: auto 400px;
            }

            @include tablet {
                background-size: auto 389px;
            }

            @include phone {
                background: url(../../../assets/images/categories/cat-four-mb.jpg) bottom right no-repeat;
                background-size: auto 221px;
            }
        }
    }

    &__inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include desktop {
            width: 270px;
        }

        @include tablet {
            width: 35%;
        }

        @include phone {
            width: 50%;
        }
    }

    &__title,
    &__text {
        margin-bottom: 16px;
    }

    &__title {
        font-size: 32px;
        line-height: 32px;
        font-weight: bold;
        color: $text-light;

        @include phone {
            font-size: 24px;
        }
    }

    &__button {
        @include button(10px);
    }
}


.gadgets {
    margin-bottom: 64px;

    &__title {
        @include block-title;

        @include phone {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 16px;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include phone {
            justify-content: center;
        }
    }
}
