<div class="footer-bottom">
    <div class="footer-bottom__inner container">
        <a href="#">
            <img src="../../../assets/images/header/logo.svg" alt="logo" class="footer-bottom__logo">
        </a>
        <a href="#" class="footer-bottom__policy">
            &copy; 2019 Megapolis | Политика конфиденциальности
        </a>
        <div class="footer-bottom__social-wrap">
            <a href="#">
                <img src="../../../assets/images/footer/instagram.svg" alt="instagram" class="footer-bottom__icon">
            </a>
            <a href="#">
                <img src="../../../assets/images/footer/vk.svg" alt="ivk" class="footer-bottom__icon">
            </a>
            <a href="#">
                <img src="../../../assets/images/footer/facebook.svg" alt="facebook" class="footer-bottom__icon">
            </a>
        </div>
    </div>
</div>
