<div class="seo container">
    <h2 class="seo__title">
        Заголовок SEO-текста
    </h2>
    <div class="seo__wrap">
        <label class="seo__label" for="arrow"></label>
        <input type="checkbox" class="seo__input" id="arrow">
        <div class="seo__text" id="text">
            Megapolis — первый авторизованный реселлер техники Apple в Новороссийске.
            Магазин работает уже 12 лет. Всё это накладывает обязательства на персонал и руководство магазина.
            У Megapolis репутация магазина премиальной техники с отзывчивым персоналом.
            Высокий уровень обслуживания — главный приоритет в работе магазина.
            Продавцы максимально внимательны к клиенту и сопровождают его на протяжении
            всего срока использования продукта.
            Megapolis — первый авторизованный реселлер техники Apple в Новороссийске.
            Магазин работает уже 12 лет. Всё это накладывает обязательства на персонал и руководство магазина.
            У Megapolis репутация магазина премиальной техники с отзывчивым персоналом.
            Высокий уровень обслуживания — главный приоритет в работе магазина.
            Продавцы максимально внимательны к клиенту и сопровождают его на протяжении
            всего срока использования продукта.
            Megapolis — первый авторизованный реселлер техники Apple в Новороссийске.
            Магазин работает уже 12 лет. Всё это накладывает обязательства на персонал и руководство магазина.
            У Megapolis репутация магазина премиальной техники с отзывчивым персоналом.
            Высокий уровень обслуживания — главный приоритет в работе магазина.
            Продавцы максимально внимательны к клиенту и сопровождают его на протяжении
            всего срока использования продукта.
            Megapolis — первый авторизованный реселлер техники Apple в Новороссийске.
            Магазин работает уже 12 лет. Всё это накладывает обязательства на персонал и руководство магазина.
            У Megapolis репутация магазина премиальной техники с отзывчивым персоналом.
            Высокий уровень обслуживания — главный приоритет в работе магазина.
            Продавцы максимально внимательны к клиенту и сопровождают его на протяжении
            всего срока использования продукта.
        </div>
    </div>
</div>
