<div class="top">
    <div class="top__inner container">
        <img src="../../../../../assets/images/header/burger-menu.svg" alt="burger" class="top__burger">
        <a href="#">
            <img src="../../../../../assets/images/header/logo.svg" alt="logo" class="top__logo">
        </a>
        <nav class="top__menu">
            <a href="#" class="top__link">Акции</a>
            <a href="#" class="top__link">Магазин</a>
            <a href="#" class="top__link">Контакты</a>
            <a href="#" class="top__link">Личный кабинет</a>
        </nav>
        <div class="top__cart-wrap">
            <img src="../../../../../assets/images/header/cart.svg" alt="cart" class="top__cart">
            <div class="top__circle"></div>
        </div>
    </div>
</div>

<nav class="nav">
    <input class="nav__check" type="checkbox" id="showmenu"/>
    <label class="nav__back" for="showmenu"></label>
    <ul class="nav__menu">
        <li class="nav__close-wrap">
            <img src="../../../../../assets/images/header/close.svg" alt="close" class="nav__close">
        </li>
        <li class="nav__user-wrap">
            <a href="#">
                <img src="../../../../../assets/images/header/user.svg" alt="user" class="nav__user">
            </a>
        </li>
        <li>
            <div class="nav__button">Войти</div>
        </li>
        <li><a class="nav__item" href="#">Акции</a></li>
        <li><a class="nav__item" href="#">Магазин</a></li>
        <li><a class="nav__item" href="#">Контакты</a></li>
        <li><a class="nav__item" href="#">Техподдержка</a></li>
    </ul>
</nav>
