@import "../../../../../styles/_variables.scss";
@import "../../../../../styles/_mixines.scss";

.top {
    height: 60px;
    background: $text-light;

    &__inner {
        display: flex;
        justify-content: space-between;
        height: 100%;

        @include desktop {
            padding: 7px 0;
        }

        @include tablet {
            padding: 12px 0;
        }

        @include phone {
            padding: 16px 0 14px;
        }
    }

    &__burger {

        @include desktop {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

    &__logo {
        width: 98px;

        @include phone {
            margin-left: 20px;
        }
    }

    &__menu {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
        font-size: 14px;

        @include desktop {
            margin: 0 145px;
        }

        @include tablet {
            margin: 0 84px 0 28px;
        }

        @include phone {
            display: none;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        height: 100%;
        color: $white;
    }

    &__cart-wrap {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 7px;;
    }

    &__cart {
        width: 24px;
        margin-right: 9px;
    }

    &__circle {
        position: absolute;
        width: 18px;
        height: 18px;
        right: 0;
        border-radius: 50%;
        background: $violet;
        color: $white;
        font-size: 12px;
        line-height: 18px;
        text-align: center;

        @include desktop {
            top: 7px;
        }

        @include tablet {
            top: 0;
        }

        @include phone {
            top: 0;
        }
    }
}
