<div class="top">
    <div class="top__inner container">
        <img src="../../../../../assets/images/header/burger-menu.svg" alt="burger" class="top__burger">
        <a href="/">
            <img src="../../../../../assets/images/header/logo.svg" alt="logo" class="top__logo">
        </a>
        <nav class="top__menu">
            <div *ngFor="let item of topMenuItems">
                <a href="{{ item.url }}" class="top__link">{{ item.name |  capitalize }}</a>
            </div>
        </nav>
        <div
                class="top__cart-wrap"
                (click)="toggleCart($event)"
        >
            <img src="../../../../../assets/images/header/cart.svg" alt="cart" class="top__cart">
            <div
                    class="top__circle"
                    [ngClass]="{
                    hidden: isVisible
                    }"
            >{{ counter }}</div>
        </div>
        <app-dropdown-cart></app-dropdown-cart>
    </div>
</div>

<nav class="nav">
    <input class="nav__check" type="checkbox" id="showmenu"/>
    <label class="nav__back" for="showmenu"></label>
    <div class="nav__menu">
        <div class="nav__close-wrap">
            <img src="../../../../../assets/images/header/close.svg" alt="close" class="nav__close">
        </div>
        <div class="nav__user-wrap">
            <img src="../../../../../assets/images/header/user.svg" alt="user" class="nav__user">
        </div>
        <div class="nav__items-wrap">
            <a *ngFor="let item of topMenuItems"
               href="{{ item.url }}"
               [ngClass]="{
                nav__button: item.name.toLowerCase() === 'личный кабинет',
                top__link: item.name.toLowerCase() !== 'личный кабинет'
                }"
            >
                {{ item.name.toLowerCase() !== 'личный кабинет' ? (item.name | capitalize) : 'Войти' }}
            </a>
        </div>
    </div>
</nav>
