<div class="footer-bottom">
    <div class="footer-bottom__inner container">
        <a href="#">
            <img src="../../../../../assets/images/header/logo.svg" alt="logo" class="footer-bottom__logo">
        </a>
        <a href="#" class="footer-bottom__policy-wrap">
         <span class="footer-bottom__copy">&copy; 2019 Megapolis </span><span class="footer-bottom__line"> | </span><span class="footer-bottom__policy"> Политика конфиденциальности</span>
        </a>
        <div class="footer-bottom__social-wrap">
            <a href="#">
                <img src="../../../../../assets/images/footer/instagram.svg" alt="instagram" class="footer-bottom__icon">
            </a>
            <a href="#">
                <img src="../../../../../assets/images/footer/vk.svg" alt="ivk" class="footer-bottom__icon">
            </a>
            <a href="#">
                <img src="../../../../../assets/images/footer/facebook.svg" alt="facebook" class="footer-bottom__icon">
            </a>
        </div>
    </div>
</div>
