@import "../../../../../styles/variables";
@import "../../../../../styles/mixines";

.footer-bottom {
    height: 133px;
    background: $text-light;

    @include phone {
        height: 84px;
    }

    &__logo {

        @include phone {
            display: none;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 36px 0;
    }

    &__policy-wrap {
        color: $white;
        font-size: 14px;
        line-height: 15px;

        @include phone {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__policy {

        @include phone {
            margin-bottom: 14px;
        }
    }

    &__line {

        @include phone {
            display: none;
        }
    }

    &__social-wrap {
        display: flex;

        @include phone {
            display: none;
        }
    }

    &__icon-wrap {
        margin-left: 16px;

        @include desktop {
            width: 40px;

            &:hover .footer-bottom__icon {
                fill: $violet;
            };
        }

        @include tablet {
            width: 34px;

            &:hover .footer-bottom__icon {
                stroke: $violet;
            };
        }
    }

    &__icon {
        fill: $white;
        stroke: $text-light;
    }
}
