<div class="category">
    <div class="category__block category__block_one"></div>
    <div class="category__block category__block_two"></div>
    <div class="category__block category__block_three"></div>
    <div class="category__block category__block_four"></div>
    <div class="category__wrap category__container">
        <section class="category__content category__content_one">
            <div class="category__inner-wrap">
                <h4 class="category__title">AirPods </h4>
                <div class="category__text">
                    Больше звука. Больше невесомости.
                </div>
                <div class="category__button">Выбрать</div>
            </div>
            <div class="category__price">от 13 500 &#8381;</div>
        </section>
        <section class="category__content category__content_two">
            <div class="category__inner-wrap">
                <h4 class="category__title">AppleWatch</h4>
                <div class="category__text">
                    Таких часов вы еще не видели.
                </div>
                <div class="category__button">Выбрать</div>
            </div>
            <div class="category__price">от 24 500 &#8381;</div>
        </section>
    </div>
    <div class="category__wrap category__container">
        <section class="category__content category__content_three">
            <div class="category__inner-wrap">
                <h4 class="category__title">AppleTV</h4>
                <div class="category__text">
                    Телевидение. Наше все.
                </div>
                <div class="category__button">Выбрать</div>
            </div>
            <div class="category__price">от 24 500 &#8381;</div>
        </section>
        <section class="category__content category__content_four">
            <div class="category__inner-wrap">
                <h4 class="category__title">Аксессуары</h4>
                <div class="category__text">
                    Сертифицированная продукция высокого качества.
                </div>
                <div class="category__button">Выбрать</div>
            </div>
            <div class="category__price">от 2 500 &#8381;</div>
        </section>
    </div>
</div>
