@import "../../../styles/_variables.scss";
@import "../../../styles/_mixines.scss";

.top {
    height: 60px;
    background: $text-light;

    &__inner {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 7px 0;
    }

    &__menu {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
        font-size: 14px;

        @include desktop {
            margin: 0 145px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        height: 100%;
        color: $white;
    }

    &__cart-wrap {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 7px;;
    }

    &__cart {
        width: 27px;
        margin-right: 9px;
    }

    &__circle {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 7px;
        right: 0;
        border-radius: 50%;
        background: $violet;
        color: $white;
    }
}
