<div class="top">
    <div class="top__inner container">
        <a href="#">
            <img src="../../../assets/images/header/logo.svg" alt="logo" class="top__logo">
        </a>
        <nav class="top__menu">
            <a href="#" class="top__link">Акции</a>
            <a href="#" class="top__link">Магазин</a>
            <a href="#" class="top__link">Контакты</a>
            <a href="#" class="top__link">Личный кабинет</a>
        </nav>
        <div class="top__cart-wrap">
            <img src="../../../assets/images/header/cart.svg" alt="cart" class="top__cart">
            <div class="top__circle"></div>
        </div>
    </div>
</div>
