@import "../../../../../styles/_variables.scss";
@import "../../../../../styles/_mixines.scss";


.bottom {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;

    @include desktop {
        height: 104px;

        &_phone {
            display: none;
        }
    }

    @include tablet {
        height: 98px;


        &_phone {
            display: none;
        }
    }

    @include phone {
        margin-top: 60px;
        height: 57px;

        &_desktop {
            display: none;
        }
    }

    &__item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    &__category {
        position: relative;
        font-size: 14px;
        color: $text-light;

        @include phone {
            margin-left: 10vw;
            padding-bottom: 8px;
            border-bottom: 1px solid transparent;
            transition: color .2s linear;


            &:hover,
            &:focus {
                border-bottom: 1px solid #9C9C9E;
            }
        }
    }

    &__scroll {
        height: 57px;
        display: flex;
        min-width: auto;
        overflow-x: scroll;
        white-space: nowrap;
    }
}

