<div class="bottom bottom_desktop container">
    <a href="#" class="bottom__item">
        <img src="../../../../../assets/images/header/iphone.svg" alt="iphone" class="bottom__icon">
        <div class="bottom__category">iPhone</div>
    </a>
    <a href="#" class="bottom__item">
        <img src="../../../../../assets/images/header/mac.svg" alt="mac" class="bottom__icon">
        <div class="bottom__category">Mac</div>
    </a>
    <a href="#" class="bottom__item">
        <img src="../../../../../assets/images/header/ipad.svg" alt="ipad" class="bottom__icon">
        <div class="bottom__category">iPad</div>
    </a>
    <a href="#" class="bottom__item">
        <img src="../../../../../assets/images/header/watch.svg" alt="watch" class="bottom__icon">
        <div class="bottom__category">Watch</div>
    </a>
    <a href="#" class="bottom__item">
        <img src="../../../../../assets/images/header/gadget.svg" alt="gadget" class="bottom__icon">
        <div class="bottom__category">Гаджеты</div>
    </a>
    <a href="#" class="bottom__item">
        <img src="../../../../../assets/images/header/airpods.svg" alt="accessories" class="bottom__icon">
        <div class="bottom__category">Аксессуары</div>
    </a>
</div>
<div class="bottom bottom_phone">
    <div class="bottom__scroll"
         *ngFor="let item of bottomMenuItems"
    >
        <a href="{{ item.url }}" class="bottom__category">{{ item.name | titlecase }}</a>
    </div>
</div>
